.menu-item-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--secondary-color);
}

.menu-item-group-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item-group-items.collapsed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.menu-item.hidden {
  display: none;
}

.menu-img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  object-fit: cover;
}
