.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  width: calc(100%);
  gap: 1rem;
}

a {
  width: 100%;
}

.menu-item.hidden {
  padding-right: 1rem;
  padding-left: 1rem;
}

@media screen and (max-width: 800px) {
  .menu-item-desc {
    display: none;
  }
}
