.menu-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:2rem;
    background-color: var(--secondary-color);
}

.menu-item.hidden{
    padding-right: 1rem;
    padding-left: 1rem;
}


.menu-item:hover{
    display: flex;
    justify-content: center;
    align-items: center;
}