.chat-container {
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.chat-container-messages-wrapper {
  overflow-y: auto;
  flex-grow: 1;
  border: 2px solid blue;
}

.chat-container-messages {
  padding: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  gap: 1rem;
  width: calc(100% - 2rem);
}
