.side-menu {
  flex-basis: min(150px, 20%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--secondary-color);
}

.side-menu.hidden {
  flex-basis: min(4rem, 15%);
}

.side-menu.hidden {
  flex-basis: min(4rem, 15%);
}

.side-menu-header {
  flex-basis: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  justify-content: flex-start;
  background-color: var(--secondary-color);
  flex-grow: 1;
  gap: 1rem;
}

.sidebar-visible {
  max-width: 100%;
  transform: translateX(0);
}

@media screen and (max-width: 800px) {
  .side-menu {
    flex-basis: min(4rem, 15%);
  }
}
