.input-message {
  background-color: var(--secondary-color);
  flex-basis: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--chat-text-color);
}

.button-wrapper {
  height: calc(100% - 2rem);
}
.input-message-container {
  background-color: white;
  height: calc(100% - 2rem);
  flex-grow: 1;
  padding: 1rem;
}

.input-message-btn {
  background-color: white;
  display: flex;
  align-items: center;
  height: 100%;
  border: 0px;
  border-radius: 0px;
  padding: 1rem;
}
