.chat-message-container{
    max-width: 50%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.chat-message-img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid blue;
}

.chat-message-content{
    flex-grow: 1;
    background-color: white;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 1rem;
}