a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.clickable {
  cursor: pointer;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.bold {
  font-weight: bold;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  height: var(--app-height);
  height: fill-available;
  height: -moz-available;
  height: -webkit-fill-available;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:disabled {
  cursor: default;
  opacity: 0.3;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.w-100 {
  width: 100%;
}

.header-title {
  font-size: 2rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.h-100 {
  height: 100%;
}

.capitalize {
  text-transform: capitalize;
}

:root {
  --main-color: darkblue;
  --secondary-color: #add4f2;
  --text-color: white;
  --chat-text-color: black;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--main-color);
  color-scheme: light dark;
  color: var(--text-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 1000px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  :root {
    font-size: 12px;
  }
}

:root,
html,
body,
#root,
.side-menu,
.main-container,
.chat-container .app-container {
  height: 100vh;
  width: 100%;
  height: -webkit-fill-available;
}
